<p-toolbar [style]="{ height: '100px' }">
  <div class="p-toolbar-group-start">
    <img src="assets/icons/icon-72x72.png" alt="logo" />
    {{ title }}
  </div>
  <div class="p-toolbar-group-end">
    <div class="cart-container" style="margin-right: 10px;">
      <i class="pi pi-shopping-cart"></i>
      <span class="cart-badge">{{basketService.basketCount()}}</span>
    </div>
    @if(accountService.currentUser()) {
    <div dropdown class="dropdown">
      <a dropdownToggle class="dropdown-toggle text-light text-decoration-none">
        Welcome {{accountService.currentUser()?.email}}
      </a>
      <p-button label="Logout" (onClick)="logout()" type="submit" severity="success" />
    </div>
    } @if (!accountService.currentUser()) {
    <div>
      <form
        #loginForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex align-items-center gap-2"
        autocomplete="off"
      >
        <input
          pInputText
          pSize="small"
          [(ngModel)]="model.email"
          name="email"
          required="true"
          type="email"
          placeholder="Email"
          style="margin-right: 5px; margin-left: 5px;"
        />
        <input
          pInputText
          name="password"
          [(ngModel)]="model.password"
          required="true"
          placeholder="Password"
          type="password"
          placeholder="Password"
          style="margin-right: 5px;"
        />
        <p-button label="Login" type="submit" severity="success" />
      </form>      
    </div>
    }
  </div>
</p-toolbar>
<p-splitter [panelSizes]="[20, 80]" [style]="{ height: 'calc(100vh - 100px)' }">
  <ng-template pTemplate>
    <div class="w-full">
      <app-panel-menu />
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="w-full app-content">
      <router-outlet></router-outlet>
    </div>
  </ng-template>
</p-splitter>
